body {
  background-color: #f6f4de;
  font-family: "Jost", sans-serif;
  color: #49494b;
}

.section-h2 {
  font-size: calc(3.5rem + 3vh);
  font-weight: 600;
  text-transform: uppercase;
  color: #f6f4de;
}

a {
  color: #49494b;
  text-decoration: none;
}

a:hover {
  color: #49494b;
}
