body {
  background-color: #f6f4de;
  font-family: "Jost", sans-serif;
  color: #49494b;
}

.section-h2 {
  font-size: calc(3.5rem + 3vh);
  font-weight: 600;
  text-transform: uppercase;
  color: #f6f4de;
}

a {
  color: #49494b;
  text-decoration: none;
}

a:hover {
  color: #49494b;
  transition: all 0.3s;
}

.white-btn:hover button {
  background-color: #ffffff80 !important;
}

#root .black-btn {
  transition: all 0.3s;
}

#root .black-btn:hover {
  background-color: #161616;
}

#root .white-btn-hover {
  transition: all 0.3s;
}

#root .white-btn-hover:hover {
  background-color: #fff;
}
