#about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 9.5rem;
  padding-bottom: 5rem;
  display: flex;
}

#about h2 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.15em;
  color: #302f2d;
  text-transform: none;
}

#passion-section h3 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.15em;
  color: #302f2d;
}

#passion-image {
  width: 100%;
  height: 700px;
}

#passion-section {
  padding: 100px 0;
  background-color: #ebe9d2;
}

#who-we-are {
  padding: 100px 0;
}

#who-we-are h2 {
  color: #302f2d;
}

.single-person {
  height: 400px;
}

.single-person img {
  object-fit: cover;
}

.single-person-details {
  bottom: 0;
  height: 80px;
  color: #f6f4de;
  background-image: linear-gradient(180deg, #3e3f4100, #302f2d);
}

.single-person-details p:last-child {
  font-size: 0.875rem;
}
