body {
  background-color: #f6f4de;
  font-family: "Jost", sans-serif;
  color: #49494b;
}

h2 {
  font-family: Jost, sans-serif;
  font-size: calc(3.5rem + 3vh);
  font-weight: 600;
  text-transform: uppercase;
  color: #f6f4de;
}
