#header {
  padding: 15px;
  background-color: #f6f4de;
  border-bottom: 1px solid #b8b8b8;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#logo {
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
}

.header-nav {
  margin-left: 400px;
  width: 100%;
}

li {
  font-weight: bold;
  margin-right: 50px;
}

#cart {
  border: none;
  color: #f6f4de;
  background-color: #413f3e;
  padding: 1rem 3rem;
}

.main-nav li {
  position: relative;
  cursor: pointer;
}

.main-nav li:after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #302f2d;
  opacity: 0;
  transition: all, 0.3s;
}

.main-nav li:hover:after {
  opacity: 1;
}
