#header {
  padding: 15px;
  border-bottom: 1px solid #b8b8b8;
}

#logo {
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
}

.header-nav {
  margin-left: 400px;
  width: 100%;
}

li {
  font-weight: bold;
  margin-right: 50px;
}

#cart {
  border: none;
  color: #f6f4de;
  background-color: #413f3e;
  padding: 1rem 3rem;
}
