#hero-wrap {
  margin-top: 160px;
}

p {
  font-size: 22px;
}

#moto {
  font-family: Playfair Display, sans-serif;
  font-size: 2.2rem;
  line-height: 1.1em;
}

h1 {
  font-size: calc(3.5rem + 3vh);
  line-height: 95px;
  font-weight: 600;
  color: #302f2d;
}

#hero .button {
  border: none;
  color: #f6f4de;
  background-color: #413f3e;
  padding: 1rem 3rem;
}

.hero-btns {
  width: 30%;
}

.button.tr-bg {
  padding: 1rem 2rem;
  background-color: transparent;
  color: #413f3e;
  border: 1px solid #413f3e;
}

#hero-img {
  height: 700px;
  margin-top: 60px;
}

@media only screen and (max-width: 1399px) {
  .hero-btns {
    width: 35%;
  }
}

@media only screen and (max-width: 1199px) {
  .hero-btns {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: calc(3rem + 1.5vh);
    line-height: 60px;
  }

  #hero-wrap p {
    font-size: 19px;
  }

  .hero-btns {
    width: 56%;
  }
}
