#services h2 {
  color: #302f2d;
}

#services p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

#services {
  padding: 100px 0;
}

.single-service {
  border: 1px solid;
  border-right: none;
  padding: 40px;
  height: 100%;
}

.single-service.last {
  border-right: 1px solid;
}

#services button {
  border: 1px solid;
  background-color: transparent;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 1399px) {
  #services p {
    font-size: 17px;
  }

  #services h3 {
    font-size: 1.6rem;
  }
}
