h2 {
  font-family: Jost, sans-serif;
  color: #302f2d;
  font-size: calc(3.5rem + 3vh);
}

p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

#services {
  padding: 100px 0;
}

.single-service {
  border: 1px solid;
  border-right: none;
  padding: 40px;
}

.single-service.last {
  border-right: 1px solid;
}

button {
  border: 1px solid;
  background-color: transparent;
  padding: 1rem 2rem;
}
