.services-hero-wrap {
  background-image: linear-gradient(#302f2dcc, #302f2dcc),
    url("/assets/services_hero_bg.png");
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  height: 750px;
  color: #f6f4de;
}

.services-hero-wrap h1 {
  color: #f6f4de;
  font-size: calc(3.5rem + 3vh);
}

.services-hero-wrap p {
  font-size: 1.375rem;
}

#core-services {
  padding: 100px 0;
}

.core-services {
  padding-bottom: 50px;
  border-bottom: 1px solid;
}

.workshops {
  padding: 40px;
  border: 1px solid;
}

.workshops h3 {
  font-size: 2.2rem;
  color: #302f2d;
}

.equipment {
  background-color: #302f2d;
  color: #f6f4de;
  padding: 30px;
}

.framing {
  margin-top: 50px;
  padding: 30px;
  border: 1px solid;
}

.framing h3,
.equipment h3 {
  font-size: 2.2rem;
}

.framing ul,
.equipment ul {
  font-size: 1.125rem;
}

#all-services {
  background-color: #302f2d;
  color: #f6f4de;
  padding: 8rem 0;
}

#all-services ul {
  list-style-type: disc;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
}

#all-services ul li {
  margin: 0;
}

.all-services-single-content h2 {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: none;
}

.all-services-single-content p {
  font-size: 1.375rem;
}

.all-services-single-content button {
  background-color: #f6f4de;
  padding: 1rem 2rem;
  border: none;
}

.service-wrapper {
  border: 1px solid #f6f4de;
  padding: 30px 18px;
  min-height: 390px;
}

.service-wrapper h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.service-wrapper p {
  font-size: 1.125rem;
}

#why-choose h2 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.15em;
  color: #302f2d;
  text-transform: none;
  padding-right: 70px;
}

.why-choose-wrap {
  border-top: 1px solid;
}

.why-choose-wrap p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4em;
}

#why-choose,
#frequently-asked-questions {
  padding: 8rem 0;
}

#frequently-asked-questions h2 {
  color: #302f2d;
  text-transform: none;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.15em;
}

.singleAccordion-wrap {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 25px 25px;
}

.singleAccordion p {
  font-size: 1.125rem;
}

.singleAccordion p:first-child {
  font-weight: 500;
}

.singleAccordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all, 0.5s;
}

.singleAccordion-content.clicked {
  max-height: 500px;
}
