#values {
  background-color: #161616;
  color: #f6f4de;
  padding: 130px;
  padding-bottom: 250px;
}

#values p {
  font-size: 30px;
  line-height: 40px;
}

#values button {
  background-color: #f6f4de;
  border: none;
  padding: 1rem 2rem;
  color: #413f3e;
}

.values-small-img {
  width: 280px;
  height: 375px;
}

.left-top {
  top: 200px;
  left: -90px;
}

.left-bot {
  bottom: -140px;
  left: 100px;
}

.right-bot {
  bottom: -80px;
  right: 100px;
}

.right-top {
  right: -90px;
  top: 60px;
}

@media only screen and (max-width: 1399px) {
  #values img {
    width: auto;
    height: 670px;
  }

  .values-small-img {
    width: 232px;
    height: 322px;
  }

  .right-top {
    right: 30px;
    top: 9px;
  }

  .left-top {
    top: 62px;
    left: 32px;
  }

  .right-bot {
    bottom: -183px;
    right: 100px;
  }

  .left-bot {
    bottom: -225px;
    left: 149px;
  }
}

@media only screen and (max-width: 1399px) {
  .values-small-img {
    width: auto;
    height: 272px;
  }

  .left-top {
    top: 62px;
    left: -31px;
  }

  .right-top {
    right: -40px;
    top: 9px;
    width: 200px;
  }
}

@media only screen and (max-width: 991px) {
  .details p {
    font-size: 18px;
  }

  .best-seller-item.lenses .details h3 {
    font-size: 1.35rem;
    height: 70px;
  }

  .best-seller-img {
    height: 270px;
  }

  .best-seller-item {
    padding: 15px;
  }
}
